<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Book</title>
</head>
<body>

<h1 th:text="${book.name}"></h1>
</br>
<table>
    <tr>
        <th>Book name</th>
        <th>author</th>
        <th>description</th>
        <th>categories</th>
    </tr>
    <tr>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.shortDescription}"></td>
        <td>
            <th:block th:each="category : ${book.category}">
                <span th:text="${category.categoryName} + ' '"></span>
            </th:block>
        </td>
    </tr>
</table>

</br>
<a th:href="@{/home}">Back</a>
</body>
</html>
