<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">
            <span sec:authorize="isAuthenticated()">
                Hello: <span sec:authentication="name"></span>
            </br>
                <a th:href="@{/home}">To Library</a>
            </br>
                <a th:href="@{/logout}">Sign Out</a>
            </span>
            <span sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">Please Sign In</a> or <a th:href="@{/registration}">Register</a>
            </span>
    </div>

</div>
</body>
</html>
